HeaderFilterRegex: ".*/src/.*"
Checks: "*,
-bugprone-easily-swappable-parameters,
-bugprone-reserved-identifier,
-cert-dcl37-c,
-cert-dcl51-cpp,
-google-readability-todo,
-google-upgrade-googletest-case,
-hicpp-named-parameter,
-hicpp-signed-bitwise,
-misc-non-private-member-variables-in-classes,
-modernize-use-trailing-return-type,
-readability-named-parameter,
-readability-identifier-length,
-readability-identifier-naming,
-abseil-*,
-altera-*,
-android-*,
-boost-*,
-darwin-*,
-fuchsia-*,
-linuxkernel-*,
-llvm-*,
-llvmlibc-*,
-mpi-*,
-objc-*,
-openmp-*,
-zircon-*"
