name: Check
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  check-clang-macos:
    runs-on: macos-latest
    strategy:
      matrix:
        build_type: [ Debug, Release ]
    steps:
    - uses: actions/checkout@v3

    - name: Install LLVM
      uses: KyleMayes/install-llvm-action@v1
      with:
        version: "14.0"

    - name: SetUpDeps
      run: ${{github.workspace}}/setup-deps.sh

    - name: Check
      run: ${{github.workspace}}/check.sh ${{ matrix.build_type }}
      env:
        CC: /usr/bin/clang
        CXX: /usr/bin/clang++

  check-clang-linux:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        build_type: [ Debug, Release ]
    steps:
      - uses: actions/checkout@v3

      - name: Install LLVM
        uses: KyleMayes/install-llvm-action@v1
        with:
          version: "14.0"

      - name: SetUpDeps
        run: ${{github.workspace}}/setup-deps.sh

      - name: Check
        run: ${{github.workspace}}/check.sh ${{ matrix.build_type }}
        env:
          CC: /usr/bin/clang
          CXX: /usr/bin/clang++

  check-gcc:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        build_type: [ Debug, Release ]
    steps:
      - uses: actions/checkout@v3

      - name: Set up GCC
        uses: egor-tensin/setup-gcc@v1
        with:
          version: 11
          platform: x64

      - name: SetUpDeps
        run: ${{github.workspace}}/setup-deps.sh

      - name: Check
        run: ${{github.workspace}}/check.sh ${{ matrix.build_type }}
        env:
          CC: /usr/bin/gcc-11
          CXX: /usr/bin/g++-11
